{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TTS Service</title>

    {% comment %} bootstrap {% endcomment %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    {% comment %} pdf viewer {% endcomment %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'ttsapp/style.css' %}" type="text/css" />
</head>
<body>
    <div class="container">
        <h1>Welcome! TTS Service</h1>
        <form action="{% url 'tts_converter' %}" method="POST">
            {% csrf_token %}

            <h2>텍스트 입력</h2>
            

            {% if body %}
                <textarea cols=50 rows=20 id='body' name='body'>{{ body }}</textarea>
            {% else %}
                <textarea cols=50 rows=20 id='body' name='body'></textarea>
            {% endif %}
            
            <br/>
            <button class="btn btn-outline-primary" type='submit'>변환하기</button>
        </form>
            <br/>
            <button class="btn btn-outline-primary" id='btn_delay'>딜레이</button>
            <button class="btn btn-outline-primary" id='btn_strong'>강조</button>
            <button class="btn btn-outline-primary" id='btn_slow'>느리게</button>
            <button class="btn btn-outline-primary" id='btn_cardinal'>기수</button>
            <button class="btn btn-outline-primary" id='btn_ordinal'>서수</button>

            {% comment %} <span id="result"></span> {% endcomment %}

        <script type="text/javascript" src="../../static/ttsapp/insert_delay.js"></script>
        <br/>
        {% if audio %}
            <iframe src='../../static/ttsapp/output.mp3' id='audio' allow="autoplay 'none'"></iframe>
        {% endif %}
        <br/>
        <a href="{% url 'main' %}">초기화</a>
        <br/>
    </div>

    <div class="top-bar">
        <div class="inputFile">
            <label for="lecturePdf">영상으로 만들 pdf를 선택해주세요 :</label>
            <input type="file" id="lecturePdf" name="lecturePdf" accept=".pdf">
        </div>
        <button class="btn" id="prev-page">
            <i class="fas fa-arrow-circle-left"></i> Prev Page
        </button>
        <button class="btn" id="next-page">
            Next Page <i class="fas fa-arrow-circle-right"></i>
        </button>
        <span class="page-info">
            Page <span id="page-num"></span> of <span id="page-count"></span>
        </span>
    </div>

    <canvas id="pdf-render"></canvas>

    {% comment %} pdf viewer {% endcomment %}
    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <script src="{% static 'ttsapp/pdf_viewer.js' %}"></script>
    {% comment %} <script src="js/file.js"></script> {% endcomment %}

    {% comment %} bootstrap {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>